@model HomeWork1.Models.ViewModels.RecordLoginViewModel
@{
    Layout = null;
}
<tr>
    <td class="text-center">@Model.RowSeq</td>
    <td>@Model.Rec_type</td>
    <td>@Model.Rec_date.ToString("yyyy-MM-dd")</td>
    <td>@Model.Rec_money</td>
</tr>